<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Switch</title>
  </head>
  <body ng-app="switchApp">
    <div ng-controller="MainCtrl as mainCtrl">
      <h3>Conditional Elements in HTML</h3>
      <button ng-click="mainCtrl.currentTab = 'tab1'">
        Tab 1
      </button>
      <button ng-click="mainCtrl.currentTab = 'tab2'">
        Tab 2
      </button>
      <button ng-click="mainCtrl.currentTab = 'tab3'">
        Tab 3
      </button>
      <button ng-click="mainCtrl.currentTab = 'something'">
        Trigger Default
      </button>
      <div ng-switch="mainCtrl.currentTab">
        <div ng-switch-when="tab1">
          Tab 1 is selected
        </div>
        <div ng-switch-when="tab2">
          Tab 2 is selected
        </div>
        <div ng-switch-when="tab3">
          Tab 3 is selected
        </div>
        <div ng-switch-default>
          No known tab selected
        </div>
      </div>
    </div>
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script type="text/javascript">
      angular.module('switchApp', []).controller('MainCtrl', [function() {
          this.currentTab = 'tab1';
        }
      ])
      .directive('stockWidget', [function(){
        //Directirve drifnfition
      }]);
    </script>
  </body>
</html>
