<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
  </head>
  <body ng-controller="MainCtrl as ctrl" ng-cloak>
    {{ctrl.message}}
    AngularJS.
    <button class="btn btn-primary" ng-click="ctrl.changeMessage()">ChangeMessage</button>
    <div ng-repeat="note in ctrl.notes">
      <span class="label">
        {{note.label}}</span>
      <span class="status" ng-bind="note.done"></span>
    </div>
    <script>
      angular.module('notesApp', []).controller('MainCtrl', [function() {
          var self = this;
          self.notes = [
            {
              id: 1,
              label: 'First Note',
              done: false
            }, {
              id: 2,
              label: 'Second Note',
              done: false
            }, {
              id: 3,
              label: 'Done Note',
              done: true
            }, {
              id: 4,
              label: 'Last Note',
              done: false
            }
          ];

          self.message = 'Hello';
          self.changeMessage = function() {
            self.message = 'Goodbye';
          }
        }
      ]);
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
