<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hellow AngularJSSSSSSSSS Fucking</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
  </head>
  <body ng-controller="MainCtrl as ctrl">
    {{ctrl.helloMsg}} AngularJS.
    <br />
    {{ctrl.goodbyeMsg}} AngularJS
    <!--[if lt IE 9]> <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script> <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/javascript">
      angular.module('notesApp', []).controller('MainCtrl', [function() {
          // Controller-specific code goes here
          console.log('MainCtrl has been created');
          this.helloMsg = 'Hello';
          
          var localVar ="TEST Local VAr123";
          var Test=1555;
        }
      ]);
    </script>
    <div>
      <button class="btn btn-primary" >TEST</button>
    </div>
  </body>
</html>
