<!DOCTYPE html>
<html lang="en" ng-app="filtersApp">
<head>
  <meta charset="utf-8">
  <title>Filter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">

</head>

<body ng-controller="FilterCtrl as ctrl">
  <div>
    <div>
      Start Time (Timestamp): {{ctrl.startTime}}
    </div>
    <div>
      Start Time (DateTime): {{ctrl.startTime | date:'medium'}}
    </div>
    <div>
      Start Time (Our filter): {{ctrl.startTime | timeAgo}}
    </div>
    <div>
      someTimeAgo : {{ctrl.someTimeAgo | date:'short'}}
    </div>
    <div>
      someTimeAgo (Our filter): {{ctrl.someTimeAgo | timeAgo}}
    </div>
  </div>
  <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="libs/angular.js"></script>
  <script type="text/javascript">
    angular.module('filtersApp', [])
      .controller('FilterCtrl', [function() {
        this.startTime = new Date().getTime();
        this.someTimeAgo = new Date().getTime() -
          (1000 * 60 * 60 * 4);
      }])
      .filter('timeAgo', [function() {
        var ONE_MINUTE = 1000 * 60;
        var ONE_HOUR = ONE_MINUTE * 60;
        var ONE_DAY = ONE_HOUR * 24;
        var ONE_MONTH = ONE_DAY * 30;
        return function(ts) {
          var currentTime = new Date().getTime();
          var diff = currentTime - ts;
          if (diff < ONE_MINUTE) {
            return 'seconds ago';
          } else if (diff < ONE_HOUR) {
            return 'minutes ago';
          } else if (diff < ONE_DAY) {
            return 'hours ago';
          } else if (diff < ONE_MONTH) {
            return 'days ago';
          } else {
            return 'months ago';
          }
        };
      }]);
  </script>
</body>

</html>
