<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <title>Filters in Action</title>
  </head>
  <body ng-app="filtersApp">
    <ul ng-controller="FilterCtrl as ctrl">

      <li>
        Amount -
        {{ctrl.amount}}
      </li>
      <li>
        Amount - Default Currency:
        {{ctrl.amount | currency}}
      </li>
      <li>
        <!-- Using the English pound sign -->
        Amount - INR Currency:
        {{ctrl.amount | currency:'&#163 '}}
      </li>
      <li>
        Amount - Number:
        {{ctrl.amount | number}}
      </li>
      <li>
        Amount - No. with 4 decimals:
        {{ctrl.amount | number:4}}
      </li>
      <li>
        Name with no filters:
        {{ctrl.name}}
      </li>
      <li>
        Name - lowercase filter:
        {{ctrl.name | lowercase}}
      </li>
      <li>
        Name - uppercase filter:
        {{ctrl.name | uppercase}}
      </li>
      <li>
        The JSON Filter:
        {{ctrl.obj | json}}
      </li>
      <li>
        Timestamp:
        {{ctrl.startTime}}
      </li>
      <li>
        Default Date filter:
        {{ctrl.startTime | date}}
      </li>
      <li>
        Medium Date filter:
        {{ctrl.startTime | date:'medium'}}
      </li>
      <li>
        Custom Date filter:
        {{ctrl.startTime | date:'M/dd, yyyy'}}
      </li>
    </ul>

    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript">
      angular.module('filtersApp', []).controller('FilterCtrl', [function() {
          this.amount = 1024;
          this.name = 'Syyam Seshadri';
          this.obj = {
            test: 'value',
            num: 123
          };
          this.startTime = new Date().getTime();
        }
      ]);
    </script>
  </body>
</html>
