<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <title>Filters in Action</title>
  </head>
  <body ng-app="filtersApp">
    <div ng-controller="FilterCtrl as ctrl">
      <button type="button" name="button" ng-click="ctrl.currentFilter ='string'">
        Filter with String
      </button>
      <button ng-click="ctrl.currentFilter = 'object'">
        Filter with Object
      </button>
      <button ng-click="ctrl.currentFilter = 'function'">
        Filter with Function
      </button>
      Filter Text
      <input type="text" ng-model="ctrl.filterOptions['string']">
      Show Done Only
      <input type="checkbox" ng-model="ctrl.filterOptions['object'].done">
      <ul>
        <li ng-repeat="note in ctrl.notes |
filter:ctrl.filterOptions[ctrl.currentFilter] |
orderBy:ctrl.sortOrder |
limitTo:5">
          {{note.label}}
          -
          {{note.type}}
          -
          {{note.done}}
        </li>
      </ul>
    </div>
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript">
      angular.module('filtersApp', []).controller('FilterCtrl', [function() {
          this.notes = [
            {
              label: 'FC Todo',
              type: 'chore',
              done: false
            }, {
              label: 'FT Todo',
              type: 'task',
              done: false
            }, {
              label: 'FF Todo',
              type: 'fun',
              done: true
            }, {
              label: 'SC Todo',
              type: 'chore',
              done: false
            }, {
              label: 'ST Todo',
              type: 'task',
              done: true
            }, {
              label: 'SF Todo',
              type: 'fun',
              done: true
            }, {
              label: 'TC Todo',
              type: 'chore',
              done: false
            }, {
              label: 'TT Todo',
              type: 'task',
              done: false
            }, {
              label: 'TF Todo',
              type: 'fun',
              done: false
            }
          ];
          this.sortOrder = ['+type', '-label'];
          this.filterOptions = {
            "string": '',
            "object": {
              done: false,
              label: 'C'
            },
            "function": function(note) {
              return note.type === 'task' && note.done === false;
            }
          };
          this.currentFilter = 'string';
        }
      ]);
    </script>
  </body>
</html>
