<!DOCTYPE html>
<html lang="en" ng-app="filtersApp">

<head>
  <meta charset="utf-8">
  <title>Filter</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">

</head>

<body ng-controller="FilterCtrl as ctrl">
  <div >
    <div>
      Amount as number: {{ctrl.amount | number}}
    </div>
    <div>
      Total Cost as a currency: {{ctrl.totalCost | currency}}
    </div>
    <div>
      Total Cost in INR: {{ctrl.totalCost | currency:'INR '}}
    </div>
    <div>
      Shouting the name: {{ctrl.name | uppercase}}
    </div>
    <div>
      Whisperting the name : {{ctrl.name | lowercase}}
       :{{ctrl.name | lowercase | limitTo:5}}
    </div>
    <div>
      Start Time: {{ctrl.startTime | date:'medium'}}
    </div>
  </div>

  <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="libs/angular.js"></script>
  <script type="text/javascript">
    angular.module('filtersApp',[])
    .controller('FilterCtrl', [function(){
      this.amount =1024;
      this.totalCost = 4906;
      this.name = 'Shyam Seshadri';
      this.startTime = new Date().getTime();
    }]);
  </script>
</body>

</html>
