<html ng-app="notesApp">
  <head>
    <title>HTTP Post Example</title>
    <style>
      .item {
        padding: 10px;
      }

    </style>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  </head>
  <body ng-controller="MainCtrl as mainCtrl">
    <h1>Hello Servers!</h1>
    <div ng-repeat="todo in mainCtrl.items" class="item">
      <div>
        <span ng-bind="todo.label"></span>
      </div>
      <div>- by
        <span ng-bind="todo.author"></span>
      </div>
    </div>
    <div>
      <form name="addForm" ng-submit="mainCtrl.add()">
        <input type="text" placeholder="Label" ng-model="mainCtrl.newTodo.label" required>
        <input type="text" placeholder="Author" ng-model="mainCtrl.newTodo.author" required>
        <input type="submit" value="Add" ng-disabled="addForm.$invalid">
      </form>
    </div>
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script>
      angular.module('notesApp', []).controller('MainCtrl', [
        '$http',
        function($http) {
          var self = this;
          self.items = [];
          self.newTodo = {};
          var fetchTodos = function() {
            return $http.get('/api/note').then(function(response) {
              self.items = response.data;
            }, function(errResponse) {
              console.error('Error while fetching notes');
            });
          };
          fetchTodos();
          self.add = function() {
            $http.post('/api/note', self.newTodo).then(fetchTodos).then(function(response) {
              self.newTodo = {};
            });
          };
        }
      ]);
    </script>
  </body>
</html>
