<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>$HTTP Get Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  <style media="screen">
    .item {
      padding:10 px;
    }
  </style>
  </head>
  <body ng-controller="MainCtrl as mainCtrl">
    <h1>Hellow Servers!</h1>
    <div class="item" ng-repeat="todo in mainCtrl.items">
      <div>
        <span ng-bind="todo.label"></span>
      </div>
      <div >
        -By <span ng-bind="todo.author"></span>
      </div>
    </div>

    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script type="text/javascript">
      angular.module('notesApp', [])
      .controller('MainCtrl', ['$http', function($http){
        var self = this;
        self.items =[];
        $http.get('/api/note').then(function(response){
          self.items = response.data;
        }, function(errResponse){
          console.error('Error while fetching notes');
        });
      }]);
    </script>
    <!-- <script type="text/javascript" src="js/app.js"></script> -->
  </body>
</html>
