<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Services</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
  </head>
  <body ng-controller ="MainCtrl as mainCtrl">
      <h1>Hellow Services!</h1>
      <button type="button" name="button"
      class="btn btn-primary" ng-click="mainCtrl.logStuff()">Log something</button>
  </body>
  <script type="text/javascript">
    angular.module('notesApp', [])
    .controller('MainCtrl', ['$log', function($log){
      var self = this;
      self.logStuff = function(){
        $log.log('The button was pressed');
      }
    }]);
  </script>
</html>
