<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>

  </head>
  <body ng-controller="MainCtrl as ctrl">
    <form class="myForm" novalidate>
      <input type="text" name="uname" class="username" ng-model="ctrl.user.username" required="" placeholder="Username" ng-minlength="4"/>
      <input type="password" name="pwd" value="" class="password" ng-model="ctrl.user.password" placeholder="Password" required=""/>
      <ng-form name="profile">
        <input type="text" name="firstName" ng-model="ctrl.user.profile.firstName" placeholder="First Name" required>
        <input type="text" name="middleName" placeholder="Middle Name" ng-model="ctrl.user.profile.middleName">
        <input type="text" name="lastName" placeholder="Last Name" ng-model="ctrl.user.profile.lastName" required>
        <input type="date" name="dob" placeholder="Date Of Birth" ng-model="ctrl.user.profile.dob">
        <input type="checkbox" ng-model="ctrl.user.agree" value="TEST"/>
        <textarea ng-model="ctrl.user.address" required></textarea>
      </ng-form>
      <button type="button" name="button" class="btn btn-primary">TEST</button>
      <div ng-init="user = {gender: 'female'}">
        <input type="radio" name="gender" ng-model="user.gender" value="male" />
        <input type="radio" name="gender" ng-model="user.gender" value="female"/>
      </div>
      <span ng-show="myForm.profile.$invalid">
        Please fill out the profile information
      </span>

      <input type="submit" value="Submit" ng-disabled="myForm.$invalid"/>

    </form>
    <div ng-init="otherGender = 'other'">
        <input type="radio" name="gender" value="male" ng-model="user.gender">Male
        <input type="radio" name="gender" value="female" ng-model="user.gender">Famale
        <input type="radio" name="gender" value="otherGender" ng-model="user.gender">{{otherGender}}
    </div>
    <div ng-init="location = 'India'">
      <select ng-model="location">
        <option value="USA">
          USA
        </option>
        <option value="India">
          Indiaxxx
        </option><
        <option value="Other">
          None
        </option>
      </select>
    </div>
    <label>TEST Selected</label>
    <div>
      <select ng-model="ctrl.selectedCountryId" ng-options="c.id as c.label for c in ctrl.countries"></select>
        Selected Country ID : {{ctrl.selectedCountryId}}
    </div>
    <span class="label label-default">TEST SELECTED</span>
    <div>
      <select ng-model="ctrl.selectedCountry" ng-options="c.label for c in ctrl.countries"></select>
      Selected Country : {{ctrl.selectedCountry}}
    </div>
    <div>
      <select ng-model="ctrl.selectedCountryId" ng-options="c.label for c in ctrl.countries track by c.id"></select>
        Selected Country ID : {{ctrl.selectedCountryId}}
    </div>
    <script type="text/javascript">
      angular.module('notesApp', []).controller('MainCtrl', [function(){
          this.countries =[
            {label: 'USA', id: 1},
            {label: 'India', id:2},
            {label: 'Other', id: 3}
          ];
        this.selectedCountryId = 2;
        this.selectedCountry = this.countries[2];
      }]);
    </script>
  </body>
</html>
