<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
  <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="libs/angular.js"></script>
  <!-- <script type="text/javascript" src="libs/angular-route.min.js"></script>
  <script type="text/javascript" src="libs/angular-resource.min.js"></script>
  <script type="text/javascript" src="libs/angular-cookies.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" media="screen" /> -->
  <script type="text/javascript" src="js/homeController.js"></script>
</head>
<body>
  <div class="container" ng-controller="homeController">
    {{1+1}}
    <h2>NagularJs - [ng-click and an-change]</h2>
    <h3>Controller Name:{{controlerName}}</h3>
<button type="button" name="button" ng-click="controllerName='xxx'">Click Me</button>
  <a href="#" class="btn-primary" ng-click="controllerName='yyy'">Click Me</a>
  </div>
</body>

</html>
