<!DOCTYPE html>
<html ng-app="notesApp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
    <script src="libs/angular.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-2.1.4.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <style>
      .username.ng-valid {
        background-color: green;
      }
      .username.ng-dirty.ng-invalid-required {
        background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
        background-color: lightpink;
      }

    </style>
  </head>
  <body ng-controller="MainCtrl as ctrl">
    <input type="text" ng-model="ctrl.username"/>
    <input type="password" ng-model="ctrl.password">
    <button ng-click="ctrl.change()">Change Values</button>
    <button ng-click="ctrl.submit()">Submit</button>
    <button class="btn btn-primary">TEST</button>
    <form ng-submit="ctrl.submit()">
      <input type="text" ng-model="ctrl.user.username"></input>
      <input type="password" ng-model="ctrl.user.password">
      <input type="submit" value="Submit">
    </form>
    <br/>
    <form ng-submit="ctrl.submit1()">
      <input type="text" ng-model="ctrl.username">
      <input type="password" ng-model="ctrl.password">
      <input type="submit" value="Submit">
    </form>
    <form ng-submit="ctrl.submit2()">
      <input type="text" ng-model="ctrl.user.username">
      <input type="password" ng-model="ctrl.user.password">
      <input type="submit" value="Submit">
    </form>
    <span class="label label-default">TEST myForm</span>
    <label >TEST</label>
    <form ng-submit="ctrl.submit()" name="myForm">
      <div >
        <div>
          <label>UserName:</label>
          <input type="text" name="uname" ng-model="ctrl.user.username" required ng-minlength="4">
          <span ng-show="myForm.uname.$error.required">
            This is a required field.
          </span>
          <span ng-show="myForm.uname.$error.minlength">Min length required is 4</span>
          <span ng-show="myForm.uname.$invalid">
            This field is invalid
          </span>
        </div>
        <div>
          <label>Password:</label>
          <input type="password" ng-model="ctrl.user.password" required name="pwd" required>
        </div>
        <div>
          <label>Email:</label>
          <input type="email">
        </div>
        <div>
          <label>Number:</label>
          <input type="number">
        </div>
        <div>
          <label>Date:</label>
          <input type="date">
        </div>
        <div>
          <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
        </div>
      </div>

    </form>
  </body>
  <script>
    angular.module('notesApp', []).controller('MainCtrl', [function() {
        var self = this;
        self.change = function() {
          self.username = 'changed';
          self.password = 'password';
        };
        self.submit = function() {
          //console.log("User clikced submit with ",self.username, self.password);
          console.log('User clicked submit with ', self.user);
        };
        self.submit1 = function() {
          var user = {
            username: self.username,
            password: self.password
          };
          console.log('first form submit with ', user);
        }
        self.submit2 = function() {
          console.log('Second form submit with ', self.user);
        }
      }
    ]);
  </script>
</html>
