<!-- File: chapter2/more-directives.html -->
<html ng-app="notesApp">
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

    <title>Notes App</title>
    <style>
      .done {
        background-color: green;
      }
  
    </style>
  </head>
  <body ng-controller="MainCtrl as ctrl" ng-cloak>
    <div ng-repeat="note in ctrl.notes" ng-class="ctrl.getNoteClass(note.done)">
      <span class="label">
        {{note.label}}</span>
      <span class="assignee" ng-show="note.assignee" ng-bind="note.assignee"></span>
    </div>
    <div ng-repeat="(author, note) in ctrl.notes">
      <span class="label">{{note.label}}</span>
      <span class="author" ng-bind="author"></span>
    </div>
    <br/>
    <button class="btn btn-primary">TEST</button>
    <br/>
    <div ng-repeat="note in ctrl.notes2">
      <div>First Element:
        {{$first}}</div>
      <div>Middle Element:
        {{$middle}}</div>
      <div>Last Element:
        {{$last}}</div>
      <div>Index of Element:
        {{$index}}</div>
      <div>At Even Position:
        {{$even}}</div>
      <div>At Odd Position:
        {{$odd}}</div>
      <span class="label">
        {{note.label}}</span>
      <span class="status" ng-bind="note.done"></span>
      <br/><br/>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script type="text/javascript">
      angular.module('notesApp', []).controller('MainCtrl', [
        function() {
          var self = this;
          self.notes = {
            shyam: {
              id: 1,
              label: 'First Note',
              done: false
            },
            Misko: {
              id: 3,
              label: 'Finished Third Note',
              done: true
            },
            brad: {
              id: 2,
              label: 'Second Note',
              done: false
            }
          };

          self.getNoteClass = function(status) {
            return {
              done: status,
              pending: !status
            };
          };
          self.notes2 = [
            {
              id: 1,
              label: 'First Note',
              done: false
            }, {
              id: 2,
              label: 'Second Note',
              done: false
            }, {
              id: 3,
              label: 'Done Note',
              done: true
            }, {
              id: 4,
              label: 'Last Note',
              done: false
            }
          ];
          var notes3 = [ar notes = [
              {
                id: 1,
                label: 'First Note',
                done: false,
                someRandom: 31431
              }, {
                id: 2,
                label: 'Second Note',
                done: false
              }, {
                id: 3,
                label: 'Finished Third Note',
                done: true
              }
            ];
            self.notes4 = angular.copy(notes3);
            self.notes5 = angular.copy(notes3);
          }
        ]);
    </script>
  </body>
</html>
